<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задание 2</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Сайт на Django</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Форум</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="https://google.ru">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Поиск">
            </div>
            <button type="submit" class="btn btn-default">Найти</button>
        </form>
    </div>
</nav>

{% block content %}
{% endblock %}


</body>
</html>